[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=notify
PIDFile=/@~INSTALL_DIR~@/run/php-fpm.pid
PrivateTmp=true
ExecStart=/@~INSTALL_DIR~@/bin/php-fpm --nodaemonize --pid /@~INSTALL_DIR~@/run/php-fpm.pid
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
